<main>

<div class="main">


    <div class="logo">
        <img src="../assets/logo1.png" alt="" srcset="">
    </div>

    <form>
        <div class="title">
            <h2>INSCRIPTION</h2>

        </div>

        <div class="fullName">
            <input type="text" id="nom" name="nom" required placeholder="Nom" />

            <input type="text" id="prenom" name="prenom" required placeholder="Prénom" />
        </div>

        <input type="email" id="email" name="email" required placeholder="Email" />

        <input type="date" id="date_naissance" name="date_naissance" required placeholder="Date de naissance" />

        <input type="password" id="mot_de_passe" name="mot_de_passe" required placeholder="Mot de passe" />

        <input type="password" id="confirmation_mot_de_passe" name="confirmation_mot_de_passe" required
            placeholder="Confirmation du mot de passe" />
            <div class="file">

                <label for="">Votre pièce d'identité</label>
                <div class="parent-div">
                    <button class="btn-upload">Joindre fichier</button>
                    <input type="file" name="upfile" />
                </div>
                
            </div>
        <button>Créer compte</button>
    </form>
</div>
</main>