<main>

<div class="main">


    <div class="logo">
        <img src="../assets/logo1.png" alt="" srcset="">
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="title">
            <h2>INSCRIPTION</h2>

        </div>

        <div class="fullName">
            <input type="text" id="name" formControlName="name" required placeholder="nom" />

            <input type="text" id="firstname" formControlName="firstname" required placeholder="prénom" />
        </div>

        <input type="email" id="email" formControlName="email" required placeholder="Email" />

        <input type="date" id="birthday" formControlName="birthday" required placeholder="Date de naissance" />

        <input type="password" id="password" formControlName="password" required placeholder="Mot de passe" />

        <input type="password" id="confirm_password" formControlName="confirm_password" required
            placeholder="Confirmation du mot de passe" />
        <div class="file">
            <label for="fichier">Fichier:</label>
            <input type="file" id="file" formControlName="file" placeholder="Fichier" />
            
        </div>
       
        <button type="submit" >Créer compte</button>
    </form>
</div>
</main>

