<main>
    <div class="main">
      <div class="logo">
        <img src="/assets/logo1.png" alt="" srcset="" />
      </div>
      <div>
        <h2>Nouveau mot de passe</h2>
    </div>
<form [formGroup]="passwordForm" (submit)="onResetPassword()">
    <!-- <div>
    
      <input type="text" id="token" [(ngModel)]="token" name="token" required hidden>
    </div>
    <div>
 
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div> -->
  
    <div class="message" *ngIf="message">
        <p>{{message}}</p>
    </div>

  <div class="container-data">

    <div *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid" class="text-danger">
      Le mot de passe est invalide (8 caractères minimum).
    </div>
    <input type="password" id="password" formControlName="password" required placeholder="Mot de passe"  [class.error]="passwordForm.get('password')?.touched &&
    passwordForm.get('password')?.invalid"  [class.valid]="passwordForm.get('password')?.touched &&
    passwordForm.get('password')?.valid"/>
    <!-- <label for="password" class="floating-label">Mot de passe</label> -->
    
  </div>
  <div *ngIf="passwordForm.get('confirm_password')?.errors?.['compare']" class="text-danger">
    Les mots de passe ne correspondent pas.
  </div>
  <div class="container-data">
  
    <input type="password" id="confirm_password" formControlName="confirm_password" required compare="password"
    placeholder="Confirmation du mot de passe" [class.error]="passwordForm.get('confirm_password')?.touched &&
    passwordForm.get('confirm_password')?.invalid" [class.valid]="passwordForm.get('confirm_password')?.touched &&
    passwordForm.get('confirm_password')?.valid"/>
    <!-- <label for="confirm_password" class="floating-label">Confirmer votre Mot de passe</label> -->
  </div>

  <button class="submit" type="submit" [disabled]=" passwordForm.invalid">Changer le mot de passe</button>
  
</form>
<div  class="sign-up" routerLink="/connexion">
    <svg id="Calque_6" data-name="Calque 6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <polygon points="21.85 14.56 21.85 6.84 .35 25 21.85 43.16 21.85 35.44 49.65 35.44 49.65 14.56 21.85 14.56" style="fill: #652A3A;"/>
      </svg>
      <p >Retour connexion</p>

</div>
</div>

</main>