main {
    width: 100vw;
    height: 100%;
    max-width: 768px;
    margin: auto ;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/assets/bg_original2.png");
    background-size: cover;

}

.main {
    width:77vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width:  66vw;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 20vh;


}


form {
    display: flex;
    flex-direction: column;
    

}



 h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0;
    color: var(--china-rose);

}



input {
    width: 64vw;
    height: 6vh;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.btn-upload {
    width: 36vw;
    height: 6vh;
    background-color: var(--taupe-gray);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: var(--china-rose);
    box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
}


.submit {
    width: 64vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color: var(--tea-rose-red);
    font-size: 16px;
    color: var(--china-rose);
    box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
} 


.submit:disabled {
    background-color: gray;
    color: rgb(181, 181, 181);
    cursor: not-allowed;
}


.accept {
    display: flex;
    flex-direction: column;
}




.container-name {
    position: relative;
    display: flex;
    flex-direction: column;
}






.error {
    border: 2px solid red  !important;
    background-color: rgb(249, 177, 177);
   
}

.valid {
    border: 2px solid green  !important;
    background-color: rgb(255, 255, 255);
}

.text-danger {
    color: red;
    font-size: 0.7em;
  
    text-align: left;
}
.message {
    width: 64vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
}
.sign-up {
    width: 64vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.sign-up svg {
    width: 10%;
    margin-right: 20px;
    cursor: pointer;
}
.sign-up p {
   font-weight: 600;
   cursor: pointer;
}

/* Media query pour les écrans de taille tablette et supérieure */
@media (min-width: 768px) {
    main {
        height: 90vh;
        margin: 5vh auto;
        border-radius: 1.2em;
        box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .main {
        width:47vw;
        height: 100%;
  
    }
    .logo {
        width:  10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .logo img {
        height: 15vh;
    
    
    }
    
    input {
        max-width: 40vw;
        height: 6vh;
        
    }

    
    .submit {
        max-width: 40vw;
       
    }
    
    h2 {
        font-size: 1.6em;
    }
    .container-data {
       max-width: 40vw;
    }
    svg {
        height: 5vh;
        width: 5vw;
        margin-right: 5px;
    }
    .message {
        max-width: 25vw;
    }

    .sign-up {
        max-width: 35vw;
    }

    .sign-up p {
       font-size: 20px;
     }
}