<body>
  <header>
    <!-- création de la div "fond" pour avoir un carré blanc comme sur la maquette -->
    <div class="fond">
      <!-- création de la div "display" pour ensuite utiliser flexbox et manipuler les icones -->
      <div class="display">
        
        <img class="fleche" src="../assets/icone_fleche1.svg" alt="" (click)="back()"/>
        
           <div (click)="favoris()" class="coeur" [class.favorited]="isFav">
          <svg id="Calque_7" data-name="Calque 7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 48.8">
          <path d="m25.01,9.83c-16.12-21.83-46.35,8.68,0,36.56,46.21-27.73,16.29-58.45,0-36.56Z" style=""/>
        </svg>
      </div>
      
      </div>
      <!-- photo de profil -->
      <img class="safer" [src]="'data:;base64,'+safer.photo" alt="" />
    </div>
  </header>

  <main>
    <!-- nom Safer -->
    <h1 *ngIf="safer">{{safer.firstname}} {{safer.lastname}}</h1>
    <!-- localisation Safer -->
    <h2>Paris, France</h2>

    <!-- note du Safer -->
    <div class="rating">
      <!--
        --><a href="#5" title="Donner 5 étoiles">★</a
      ><!--
        --><a href="#4" title="Donner 4 étoiles">★</a
      ><!--
        --><a href="#3" title="Donner 3 étoiles">★</a
      ><!--
        --><a href="#2" title="Donner 2 étoiles">★</a
      ><!--
        --><a href="#1" title="Donner 1 étoile">★</a>
    </div>
    <!-- description du profil -->
    <p class="descrip">
      Lorem ipsum dolor sit <br />
      amet, consectetur <br />
      adipisicing elit. Asperiores <br />
      molestiae voluptates <br />
      aspernatur minus.

     
    </p>   
    <!-- {{saferdescription}} rajouter la description -->
    <!-- bouton pour contacter le Safer -->
    <div class="bloc">
      <button (click)="next()">Contacter</button>
    </div>
  </main>

  <footer></footer>
 
</body>
