.container {
  height: 100vh;
  width:100vw;
  margin: auto ;
  max-width: 768px;
  background-image: url("/assets/bg_original2.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fond {
  width: 85vw;
  height: 40vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fleche {
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 10;
}
.coeur {
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 10;
  
}
.favorited svg {
  fill: red;
}

.safer {
  width: 70vw;
  height: 35vh;
  object-fit: contain;
  overflow: hidden;
 
 
}

main {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.star {
  
  font-size: 1.6em;
  color: transparent; 
  cursor: pointer;
  background-image: linear-gradient(90deg, gold 80%, #ccc 50%); 
  background-clip: text; 
  -webkit-background-clip: text; /* Pour les navigateurs WebKit */    
  -webkit-text-stroke: 1px black; /* Pour les navigateurs WebKit */

}
.star.filled {
  color: gold;
}

.descrip {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  text-align: center;
}

.bloc {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
button {
  height: 6vh;
  width: 64vw;
  background-color: #FDC5CC;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  font-size: 1em;
  margin-top: 1em;
 
}

/* Media query pour les écrans de taille tablette et supérieure */
@media (min-width: 768px) {
  .fond {
    width: 45vw;
    height: 45vh;

  }
  button {
    width: 25vw; 
    font-size: 1.2em;
  }
}