<body>
   
    <header>
       
            
        
        <div class="fond">
            
        <img src="../assets/Safer1.svg" alt="">
    </div>
    <!-- <img class="coeur2" src="../assets/icone_coeur.svg" alt=""> -->
     </header>
 
     <main>
        <h1>Jane Doe</h1>
        <h2>Paris, France</h2>
        <div class="rating"><!--
        --><a href="#5" title="Donner 5 étoiles">☆</a><!--
        --><a href="#4" title="Donner 4 étoiles">☆</a><!--
        --><a href="#3" title="Donner 3 étoiles">☆</a><!--
        --><a href="#2" title="Donner 2 étoiles">☆</a><!--
        --><a href="#1" title="Donner 1 étoile">☆</a>
     </div>
     <p class="descrip">Lorem ipsum dolor sit <br> amet, consectetur <br> adipisicing elit. Asperiores <br> molestiae voluptates <br> aspernatur minus.</p>
     <div class="bloc">
     <button>Contacter</button>
     </div>
     </main>
 
     <footer>
 
     </footer>
</body>

   


