<body>
  <header>
    <!-- création de la div "fond" pour avoir un carré blanc comme sur la maquette -->
    <div class="fond">
      <!-- création de la div "display" pour ensuite utiliser flexbox et manipuler les icones -->
      <div class="display">
        <img class="fleche" src="../assets/icone_fleche1.svg" alt="" />
        <img class="coeur" src="../assets/icone_coeur.svg" alt="" />
      </div>
      <!-- photo de profil -->
      <img class="safer" src="../assets/Safer1.svg" alt="" />
    </div>
  </header>

  <main>
    <!-- nom Safer -->
    <h1>Jane Doe</h1>
    <!-- localisation Safer -->
    <h2>Paris, France</h2>

    <!-- note du profil -->
    <div class="rating">
      <!--
        --><a href="#5" title="Donner 5 étoiles">★</a
      ><!--
        --><a href="#4" title="Donner 4 étoiles">★</a
      ><!--
        --><a href="#3" title="Donner 3 étoiles">★</a
      ><!--
        --><a href="#2" title="Donner 2 étoiles">★</a
      ><!--
        --><a href="#1" title="Donner 1 étoile">★</a>
    </div>
    <!-- description du profil -->
    <p class="descrip">
      Lorem ipsum dolor sit <br />
      amet, consectetur <br />
      adipisicing elit. Asperiores <br />
      molestiae voluptates <br />
      aspernatur minus.
    </p>
    <!-- bouton pour contacter le Safer -->
    <div class="bloc">
      <button>Contacter</button>
    </div>
  </main>

  <footer></footer>
</body>
