.navbar{
position: sticky;
bottom: 0;
}

.icones{
  display: flex;
  justify-content: space-between;
  height: 78px;
  padding: 0 8px;
  background-color: #EEC2C2ff;
}

img{
  width: 15vw;
  cursor: pointer;
}
