<div class="navBar">

  <div class="icones">

      <img (click)="logOut()" src="/assets/power.svg" alt="disconnect">

      <img routerLink="parentmap" routerLinkActive="active" src="/assets/home.svg" alt="home">

      <img [routerLink]="['userprofil']" routerLinkActive="active"  src="/assets/user.svg" alt="profile">

        <img routerLink="message" routerLinkActive="active" src="/assets/message-circle.svg" alt="messages">
        <span *ngIf="unreadMessageCount" class="notification">{{unreadMessageCount}}</span>


  </div>

</div>