body{
    margin: 0;
    padding: 0;
  
}
h1{
    
    margin: 0 10px;
    font-size: 1rem;
    
}
.title{
    height: 20px;
    /* padding: 10px; */
}
img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;

}
.name{
    display: flex;
    flex-direction: column;
    font-size: 10px ;
    
}
.user {
    display: flex;
justify-content: space-between;
/* border: 1px solid black; */
padding: 1px;
align-items: center;
width: 95%;
margin: auto;
gap: 10px;
}

.note {
    display: inline-block;
    font-size: 0;
    margin-bottom: 20px;
  }
  
  .note input[type="radio"] {
    display: none;
  }
  
  .note label {
    display: inline-block;
    margin-right: 5px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    
  }
  
  .note label:hover,
  .note label:hover ~ label,
  .note input[type="radio"]:checked ~ label {
    color: #ffbf00;
  }


  .note {
    display: inline-block;
    font-size: 0;
  }
  
  .note input[type="radio"] {
    display: none;
  }
  
  .note label {
    display: inline-block;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-star-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: background-position 0.3s;
    background-position: left;
  }
  
  .note input[type="radio"]:checked ~ label,
  .note label:hover {
    background-position: right;
  } 
  .coeur {
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 10;
    
  }
  .favorited svg {
    fill: red;
  }