<div class="background">
    <div class="title">
        <h1>Trouvez votre SAFER</h1>
    </div>


 <!-- boucle for pour afficher les utilisateurs en ligne ( connecté )  -->

<ul>
    <li *ngFor="let user of listSafer">

        <div  class="list">
            <div [routerLink]="['/profil', user.id]"
            [queryParams]="{ id: user.id}" class="user">
                <div class="profile">
                    <img [src]=user.photo
                        alt="">
                    <div class="name">
                        <h2>{{user.firstname}}</h2>
                        <h3>ville</h3>
                    </div>
                </div>
                <div  class="coeur" [ngClass]="{'favorited':userFavorite(user.id)}">
                    <svg id="Calque_7" data-name="Calque 7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 48.8">
                    <path d="m25.01,9.83c-16.12-21.83-46.35,8.68,0,36.56,46.21-27.73,16.29-58.45,0-36.56Z" />
                  </svg>
                </div>
                <div class="note">
                    <input type="radio" name="rating" id="star1">
                    <label for="star1">&#9733;</label>
                    <input type="radio" name="rating" id="star2">
                    <label for="star2">&#9733;</label>
                    <input type="radio" name="rating" id="star3">
                    <label for="star3">&#9733;</label>
                    <input type="radio" name="rating" id="star4">
                    <label for="star4">&#9733;</label>
                    <input type="radio" name="rating" id="star5">
                    <label for="star5">&#9733;</label>
                </div>
            </div>
        </div>
    
    

    </li>
  </ul>