
  <div class="main">
    <div>
        <h1>SAFER TOGETHER</h1>
    </div>



    <div class="logo">
        <img src="../assets/logo1.png" alt="" srcset="">
    </div>

    <div class="alert" *ngIf="">
    <strong>login ou mot de passe erronés..</strong>
    </div>

    <div class="input">
        <form (submit)="onRequestResetPassword()">
            <div class="message" *ngIf="message">
                <p>{{message}}</p>
            </div>
            <div >
            
              <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Email*">
            </div>
            <button class="bouton" type="submit">Réinitialiser le mot de passe</button>
          </form>
      
            
    </div>


    <div  class="sign-up" routerLink="/connexion">
        <svg id="Calque_6" data-name="Calque 6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <polygon points="21.85 14.56 21.85 6.84 .35 25 21.85 43.16 21.85 35.44 49.65 35.44 49.65 14.56 21.85 14.56" style="fill: #652A3A;"/>
          </svg>
          <p >Retour</p>

    </div>


</div>  
