<!-- <app-inscription></app-inscription> -->
<!-- <app-home></app-home> -->

<!-- <app-connexion></app-connexion> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-connexion></app-connexion> -->
<!-- <app-inscription></app-inscription> -->
<!-- <app-home></app-home> -->
<!-- <app-navbar></app-navbar> -->

<!-- <app-discussion></app-discussion> -->
<!-- <app-connexion></app-connexion> -->
<app-discussion></app-discussion>

<!-- <app-profil></app-profil> -->

<!-- <app-home></app-home> -->
<!-- <app-profil></app-profil> -->

