<div class="header">
    <h2 class="title">Liste des Safers</h2>
    <img class="logOut" (click)="logOut()" src="/assets/icone_log.svg" alt="disconnect">

</div>
<table class="user-table">
    <thead>
      <tr>
        <th>Nom Prénom</th>
        <th>Photo</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstname }} {{ user.lastname }}</td>
        <td><img  class="photo" [src]="'data:;base64,'+user.photo" alt="photo"></td>
        <td>
          <div class="status-indicator" [ngClass]="{'active': user.active, 'inactive': !user.active}" (click)="toggleUserStatus(user)">
            <span *ngIf="user.active">active</span>
             <span *ngIf="!user.active">inactive</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  
