<p>user-profil works!</p>
<div class="main">
    <div class="section1">
        <div class="logo">
            <img src="../assets/Safer3.svg" alt="">
        </div>
        <div class="description">
        </div>
    </div>
    <div class="section2">
        <input type="text" placeholder="nom">
        <input type="text" placeholder="prénom">
        <input type="text" placeholder="password">
        <input type="text" id="Email">
        <input type="text" placeholder="date de naissance">
        <input type="text" placeholder="description">
    </div>
</div>