<div class="main">
    <div class="section1">
        <div class="logo">
            <img src="../assets/Safer3.svg" alt="">
        </div>
        <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, placeat.
        </p>
    </div>
    <div class="section2">
        <input class="button" type="text" value="{{user.lastname}}" placeholder="nom">
        <input class="button" type="text" value="{{user.firstname}}" placeholder="prénom">
        <input id="toto" class="button" type="text" placeholder="password" style="background-image:url(../assets/draw.svg)">
        <input id="toto" class="button" type="text" placeholder="email" style="background-image:url(../assets/draw.svg)">
        <input class="button" type="text" placeholder="date de naissance">
        <input id="toto" class="button" type="text" placeholder="description" style="background-image:url(../assets/draw.svg)">
    </div>
</div>