<div class="container">
    <header>
        <h2>Vos messages</h2>
        <input type="text" placeholder="   Recherche ...">
    </header>
    <main *ngFor="let user of users">

        <div [routerLink]="['/discussion', user.id]" [queryParams]="{ id: user.id}" class="user-info">


            <div class="photo">
                <img *ngIf="user.photo " [src]="'data:;base64,'+user.photo" alt="Safer1">
                <img *ngIf="!user.photo " src="assets/Safer2.svg" alt="default Photo ">

            </div>
            <div class="name-date">
                <div class="safer">
                    <h3>{{user.lastname}} {{user.firstname}}</h3>
    
                </div>
                <div class="unread-indicator" *ngIf="hasUnreadMessages(user.id)"></div>
                <div class="date">
                    <p>{{ heureActuelle | date:'HH:mm' }}</p>

                    <div class="en-ligne" [ngClass]="{'online': user.connected, 'offline': !user.connected}"></div>

                </div>
            </div>

        </div>
    </main>

</div>