<body>
    <header>
        <h2>Vos messages</h2>
        <input type="text" placeholder="   Recherche ..."> 
    </header>
    <main routerLink="/discussion">
         
        <div>
           <img src="../assets/Safer1.svg" alt="Safer1"> 

        </div>
        <div class="test">
        <div class="safer">
            <h3>Jane Doe</h3>
            <p>Lorem ipsum dolor</p>
        </div>
       
        <div class="test2">
        <p>{{ heureActuelle | date:'HH:mm' }}</p>
    
        <div class="en-ligne"></div>
    </div>
    </div>
    </main>
    <footer></footer>
</body>


