<div class="main">
    <div>
        <h1>SAFER TOGETHER</h1>
    </div>



    <div class="logo">
        <img src="../assets/logo1.png" alt="" srcset="">
    </div>

    <div class="alert" *ngIf="erreur">
    <strong>login ou mot de passe erronés..</strong>
    </div>

    <div class="input">
        <input type="email" placeholder="Email*" [(ngModel)]="email">
        <input type="password" placeholder="Password*" [(ngModel)]="password">

    </div>

     <button class="bouton" aria-placeholder="Connexion" (click)=" login()">Connexion</button>

    <p>Pas encore de compte ?    </p> <a routerLink="/inscription">Sign Up</a>


</div>

<app-navbar></app-navbar>
