<body>

<div class="global-discussion">

  <div class="nav-top">

    <div class="go-back">
      <img src="../assets/back-arrow.svg" alt="">
    </div>

    <div class="user">

      <p>Jane Doe</p>
      <p>Active now</p>

    </div>

    <div class="call">
      <img src="../assets/phone-call.svg" alt="call">

    </div>

  </div>

  <div class="conversation">

    <div class="talk left">
      <img src="../assets/Safer1.svg" alt="safer1">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="talk right">
      <p>Lorem ipsum dolor sit amet.</p>
      <img src="../assets/Safer4.svg" alt="user">
      </div>

      <div class="talk left">
        <img src="../assets/Safer1.svg" alt="safer1">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="talk right">
        <p>Lorem ipsum dolor sit amet.</p>
        <img src="../assets/Safer4.svg" alt="user">
      </div>


    </div>

    <form action="" class="chat-form">
      <div class="container-input">
        <div class="files-logo-container">
          <img src="../assets/clip.svg" alt="attach-files">
        </div>

        <div class="group-inp">
          <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>
          <img src="../assets/happy.svg" alt="emojis">
        </div>
      </div>

      <button class="submit-message">
        <img src="../assets/send.svg" alt="send-message">
      </button>

    </form>








  </div>


</body>