<!-- <body>

<div class="global-discussion">

  <div class="nav-top">

    <div class="go-back">
      <img src="../assets/back-arrow.svg" alt="">
    </div>

    <div class="user">

      <p>Jane Doe</p>
      <p>Active now</p>

    </div>

    <div class="call">
      <img src="../assets/phone-call.svg" alt="call">

    </div>

  </div>

  <div class="conversation">

    <div class="talk left">
      <img src="../assets/Safer1.svg" alt="safer1">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="talk right">
      <p>Lorem ipsum dolor sit amet.</p>
      <img src="../assets/Safer4.svg" alt="user">
      </div>

      <div class="talk left">
        <img src="../assets/Safer1.svg" alt="safer1">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="talk right">
        <p>Lorem ipsum dolor sit amet.</p>
        <img src="../assets/Safer4.svg" alt="user">
      </div>


    </div>

    <form action="" class="chat-form">
      <div class="container-input">
        <div class="files-logo-container">
          <img src="../assets/clip.svg" alt="attach-files">
        </div>

        <div class="group-inp">
          <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>
          <img src="../assets/happy.svg" alt="emojis">
        </div>
      </div>

      <button class="submit-message" onclick="sendMessage()">
        <img src="../assets/send.svg" alt="send-message">
      </button>

    </form>








  </div>


</body>

<main>

    <div class="main">


        <div class="logo">
            <img src="../assets/logo1.png" alt="" srcset="">
        </div>

        <form>
            <div class="title">
                <h2>INSCRIPTION</h2>

            </div>

            <div class="fullName">
                <input type="text" id="nom" name="nom" required placeholder="Nom" />

                <input type="text" id="prenom" name="prenom" required placeholder="Prénom" />
            </div>

            <input type="email" id="email" name="email" required placeholder="Email" />

            <input type="date" id="date_naissance" name="date_naissance" required placeholder="Date de naissance" />

            <input type="password" id="mot_de_passe" name="mot_de_passe" required placeholder="Mot de passe" />

            <input type="password" id="confirmation_mot_de_passe" name="confirmation_mot_de_passe" required
                placeholder="Confirmation du mot de passe" />
                <div class="file">

                    <label for="">Votre pièce d'identité</label>
                    <div class="parent-div">
                        <button class="btn-upload">Joindre fichier</button>
                        <input type="file" name="upfile" />
                    </div>

                </div>
            <button>Créer compte</button>
        </form>
    </div>
    </main> -->

    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Chat app</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
            </ul>
          </div>
        </nav>
  </header>

  <main class="chat">
      <div class="container">
          <div class="chat-content">
              <div class="card">
                  <ul class="list-group list-group-flush">
                      <!-- <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
                          <strong>{{chatMessage.sender_id}}: </strong>
                          <span>{{chatMessage.message}}</span>
                      </li> -->
                  </ul>
              </div>
          </div>
          <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
              <div class="chat-send row">
                  <div class="col-2">
                      <input type="number" class="form-control" name="sender_id" id="sender_id" [(ngModel)] = sender_id>
                  </div>
                  <div class="col-2">
                      <input type="number" class="form-control" name="receiver_id" id="receiver_id" [(ngModel)] = receiver_id>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" name="message" id="message" [(ngModel)] = message>
                  </div>
                  <div class="col-2">
                      <button type="submit" class="btn btn-primary">Send</button>
                  </div>
              </div>
          </form>
      </div>

  </main>
