<body>

  <div class="global-discussion">

    <div class="nav-top">

      <div class="go-back">
        <img src="assets/arrow-left.svg" alt="" routerLink="/message">
      </div>

      <div class="user">
        <img [src]="getAppropriateImage(idReceiver) || defaultImage" alt="user">
        <p>{{receiverUserData.lastname}} {{receiverUserData.firstname}}</p>
        <p>{{ receiverUserData.connected ? 'En ligne' : 'Hors ligne' }}</p>
      </div>

      <div class="call">
        <img src="../assets/phone.svg" alt="call">

      </div>

    </div>

    <div class="conversation">

      <!-- <div class="talk left">
      <img src="../assets/Safer1.svg" alt="safer1">
      <p>Lorem ipsum dolor sit amet.</p>
      </div>  -->

      <!-- <div *ngFor="let msg of messages" [ngClass]="{'talk right': msg.sender === currentUser, 'talk left': msg.sender === !currentUser}">
      <img src="../assets/Safer4.svg" alt="user">
      <p>{{msg.message}}</p>
      </div> -->

      <div *ngFor="let msg of messages"
        [ngClass]="{'talk': true, 'right': msg.sender == currentUser, 'left': msg.sender == idReceiver}">

        <!-- <img [src]="getUserImage(msg.sender) | async" alt="user"> -->
        <img [src]="getAppropriateImage(msg.sender)" alt="user">
        <div class="msg-date">
          <p>{{msg.message}}</p>
          <span class="date">{{msg.createdDate|date:'dd/MM/yyyy, hh:mm a'}}</span>
        </div>
      </div>



      <!-- <div class="talk left">
        <img src="../assets/Safer1.svg" alt="safer1">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="talk right">
        <p>Lorem ipsum dolor sit amet.</p>
        <img src="../assets/Safer4.svg" alt="user">
      </div>  -->


    </div>


    <div class="container-input">

      <div class="group-inp">
        <input placeholder="Enter your message here" [(ngModel)]="messageContent" (keydown)="sendMessageEnter($event)" >
        <button class="submit-message" (click)="sendMessage()">
          <img src="../assets/send2.svg" alt="send-message">
        </button>
      </div>

    </div>



  </div>


</body>


<!--
<div>
  <label for="messageContent">Message:</label>
  <input [(ngModel)]="messageContent" id="messageContent" type="text" />
</div>
<button (click)="sendMessage()">Send Message</button>
<div class="messages-container">
  <div *ngFor="let msg of messages" [ngClass]="{'sender': msg.sender === currentUser, 'receiver': msg.sender === idReceiver}" class="message">
    <div class="message-content">{{msg.message}}</div>
  </div>
</div> -->