/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS HEX */
:root {

    --raisin-black: #262023;
    --tea-rose-red: #EFC3C3ff;
    --taupe-gray: #98949Dff;
    --cornflower-blue: #66A1FBff;
    --puce: #BE8EA8ff;
    --tea-rose-red-2: #EEC2C2ff;
    --white: #FEFEFEff;
    --china-rose: #9E5E78ff;
}

/* CSS HSL */
/*
--raisin-black: hsla(330, 9%, 14%, 1);
--tea-rose-red: hsla(0, 58%, 85%, 1);
--taupe-gray: hsla(267, 4%, 60%, 1);
--cornflower-blue: hsla(216, 95%, 69%, 1);
--puce: hsla(328, 27%, 65%, 1);
--tea-rose-red-2: hsla(0, 56%, 85%, 1);
--white: hsla(0, 0%, 100%, 1);
--china-rose: hsla(336, 25%, 49%, 1);
*/

* {
	margin:0;
	padding:0;
	}
	html, body {
		margin:0;
		padding:0;
		}