.main {
    height: 100vh;
    width: 100vw;
    margin: auto ;
    max-width: 768px;
    background-image: url("src/assets/bg_original1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.logo {
    height: 40vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 28vh;
}

.bouton {
    height:20%;
    margin-top: 10vh;
  
}

.button {
    width: 50vw;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color: var(--tea-rose-red);
    font-size: 1em;
    font-family: 'Montserrat';
    color: var(--china-rose);
    box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
}

.sign-up{
font-size: 0.7rem;
font-family: 'Montserrat';
display: flex;
flex-direction: column;
align-items: center;

}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
}


/* Media query pour les écrans de taille tablette et supérieure */
@media (min-width: 768px) {
    .main {
        height: 90vh;
        margin: 5vh auto;
        border-radius: 1.2em;
        box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .button {
        width: 25vw; 
        font-size: 1.2em;
    }

    a {
        font-size: 1.2em;;
    }
}